body {
    header {
        background: #222;
        color: white;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav ul li {
        margin-left: 20px;
        position: relative;
    }

    nav a {
        color: white;
        text-decoration: none;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 25px;
        background: #333;
        padding: 10px;
        border-radius: 5px;
    }

    .dropdown-menu li {
        margin: 5px 0;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }


    /* Movil */
    @media (max-width: 600px) {
        nav ul {
            flex-direction: column;
        }

        .dropdown-menu {
            position: static;
            display: none;
        }

        .dropdown:active .dropdown-menu {
            display: block;
        }
    }


    footer {
        background: #222;
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 50px;
    }
}