body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 25px;
    background: #333;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-menu li {
    margin: 5px 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* Mantener footer abajo */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.contenido {
    flex: 1;
}


/* Mostrar menú siempre debajo en ordenador */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    padding: 10px;
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* Movil */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    .dropdown-menu {
        position: static;
        display: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}